.drag-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    cursor: all-scroll;
}

.drag-area .up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.drag-area .left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.drag-area .right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.drag-area .bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.drag-area .modal {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 250px;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.drag-area .modal .option-btn-group {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.drag-area .modal .option-btn-group button {
    min-width: 100px;
}